server:
  port: 8005

spring:
  application:
    name: payment-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.112.151:3306/sample?rewriteBatchedStatements=true&useUnicode=true&character_set_server=utf8mb4&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  jpa:
    show-sql: true
    generate-ddl: false
    hibernate.ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  cloud:
    nacos:
      server-addr: 192.168.112.130:8840
      discovery:
        username: nacos
        password: nacos
        namespace: public
        group: PaymentCenter